* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #F2F2F2;
}

body {
    font-family: Saira, sans-serif;
    font-size: 1em;
    color: #000000;
    max-width: 1200px;
    background: white;
    margin: auto;
}

h1 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.4em;
    font-weight: 200;
    color: #7D7C7D;
    padding-top: 1.5em;
    text-align: center;
}

h3 {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

p {
    font-family: "Avenir Next", sans-serif;
    font-size: 0.85em;
}


/*Header*/

.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
}

.logo {
    margin-left: 5%;
}

.logo img {
    display: block;
}

nav {
    margin: 1.5em 0 0 5%;
}

/*
   More info on block, inline-block, inline
   https://www.w3schools.com/css/css_inline-block.asp
   */
header ul li {
    display: inline;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
}

li a:hover {
    color: #B6B6B6;
}


/*CSS Grid on watch-grid container*/

.watch-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-top: 30px;
    justify-content: center;
}

.watch {
    width: 47vw;
    margin: 0 auto 30px;
}

.watch-image {
    display: block;
    width: 47vw;
}

.watch-info {
    margin-top: 13px;
}

.watch-info p {
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 2px;
}



/*Media Query - screen larger then 600px*/

@media screen and (min-width : 600px) {
    .watch-grid {
        grid-template-columns: 33.33% 33.33% 33.33%;
        margin-top: 54px;
    }

    .watch {
        width: 31vw;
        margin: 0 auto 45px;

    }

    .watch-image {
        width: 31vw;
    }

    h1 {
        padding-top: 3em;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 2.3em;
    }

    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}

@media screen and (min-width : 1200px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    .watch {
        width: 370px;
    }

    .watch-image {
        width: 370px;
    }
}


/*Footer*/

footer {
    background: #867154;
    padding: 3.3em;
    text-align: center;
}

footer p {
    font-family: Roboto, sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: #A4A4A4;
    line-height: 130%;
}

footer p a {
    text-decoration:none;
    color: #A4A4A4;
}

footer img {
    padding: 0.4em 0 1.3em 0;
}
